<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Coordenadas</title>
</head>
<body>
    <form action="{% url 'graficar_vector' %}" method="post">
        {% csrf_token %}
        <label for="x">X:</label>
        <input type="number" id="x" name="x" step="any" required>
        <label for="y">Y:</label>
        <input type="number" id="y" name="y" step="any" required>
        <label for="z">Z:</label>
        <input type="number" id="z" name="z" step="any" required>
        <button type="submit">Generar Gráfica</button>
    </form>
    
    
    
</body>
</html>